{% load i18n %}
{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="llxlw8snJnzgGp_fOfL-4I3n1ZGvmjh-xDHvRKwWVuQ" />
    <meta name="msvalidate.01" content="9A9EEC31C6C3D034B31D8AF70B9DE35F" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block head_title %} SYKOpro | Sell Your Kabaad Online at the Best Prices | Sell the Precious Recyclables to Us from Your Home {% endblock %}</title>   
    <meta name="title" content="Sell your Recyclables online, Sell Old Newspapers, Iron, Plastic and Aluminium Cans, Copper, Brass, your personal kabaadiwala, clean and green India" >
    <meta name="description" content="SYKOpro is an online platform where people can sell all of their recyclable wastes at the best prices in just one click. Put an end to hanging over in balconies and shouting out to the kabaadiwalas. Download the App on Google Play and request a pickup of your recyclables.">
    <meta name="robots" content="index, follow">    
    <meta name="author" content="text">
    <meta name="keywords" content="SYKOpro, kabaad, Old Newspapers, Iron, Plastic and Aluminium Cans, Copper, Brass, scrap, recyclables, green India, go green, Download on Google Play">
    <link rel="icon" href="https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-644902922622/S+Logo+512x512.ico">




    {% include 'head_css.html' %}
   
  </head>



<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
     <div class="container-fluid">    
      {% include 'navbar1.html' %}
     </div> 
    </div> 




    {% include 'carousel.html' %} 

<h1 style='width:100%;text-align:center;font-size:50px;'>Download the App </br> and </br> Request a Pickup Now.</h1>

</br></br>
      
    {% block circles %}

    {% endblock %}

  </br></br>


    {% include 'footer.html' %}




    {% include 'javascript.html' %}


  </body>
</html>
