
{% extends "base.html" %}
{% load staticfiles %}


<style>
{% block style %}

.button-align{
  text-align: center;
}


.img-box {
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
}


.img-box:hover {
  position: relative;
  width: 400px;
  height: 250px;
  display: block;
  float: left;
  background: #52a459;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  z-index: 999;
}




{% endblock %}

</style>

{% block circles %}
<div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-sm-4">
          <div class="pickgradient">
          <img class="img-box" title="Sell Paper Recyclables" alt="Sell Your Old Newspapers" src="https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-644902922622/paper.jpg" width=100% height="180">
        </div>
          <h2 style='text-align:center;'>PAPER - <i class="fa fa-inr"></i> 11/kg</h2>
          <p>By recycling one ton of paper we save 17 trees, 7,000 gallons of water and 463 gallons of oil. Sell all of the old and recyclable newspapers from your home now in just one click.</p>
<!--           <p><a class="btn btn-primary button-align" href="/knowmore" role="button">Know More &raquo;</a></p>
 -->        </div>
        <div class="col-sm-4 pull-right">
          <img class="img-box" src="https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-644902922622/iron.jpg" title="Sell Recyclable Iron to Us!" alt="Iron Recycling" width=100% height="180">
          <h2 style='text-align:center;'>IRON - <i class="fa fa-inr"></i> 14/kg</h2>
          <p>Ferrous metals include old cars, household appliances, steel beams, railroad tracks, ships, food tins, bottle tops, paint cans and aerosols. All types of steel are 100% recyclable and can be recycled an infinite amount of times. Save these Precious Resources.</p>
<!--           <p><a class="btn btn-primary" href="/user_logout/" role="button">Know More &raquo;</a></p>
 -->        </div>
        <div class="col-sm-4 pull-right">
          <img class="img-box" src="https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-644902922622/plastic.jpg" width=100% height="180" title="Sell Plastic Recyclables" alt="Plastic Recycling">
          <h2 style='text-align:center;'>PLASTIC - <i class="fa fa-inr"></i> 10/kg</h2>
          <p>Recycling plastic products keeps them out of landfills and allows the plastics to be reused in manufacturing new products. Also prevents soil and water pollution! DO NOT Throw them Away!</p>
<!--           <p><a class="btn btn-primary" href="#" role="button">Know More &raquo;</a></p>
 -->        </div>
      </div>

      


      <div class="row" style="margin-top:20px">
        <div class="col-sm-4 col-sm-offset-2">
          <img class="img-box" src="https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-644902922622/old_batteries.png" title="Sell Old Batteries to Us" alt="Old Batteries Recycling" width=100% height="180">
          <h2 style='text-align:center;'>OLD BATTERIES - <i class="fa fa-inr"></i> 50/kg</h2>
          <p>These batteries include car batteries, golf cart batteries, UPS batteries, industrial fork-lift batteries, motorcycle batteries, and commercial batteries. Sell these to reduce ENVIRONMENT POLLUTION.</p>
<!--           <p><a class="btn btn-primary" href="#" role="button">Know More &raquo;</a></p>
 -->        </div>

        <div class="col-sm-4 ">
          <img class="img-box" src="https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-644902922622/aluminium.jpg" width=100% height="180" title="Sell Aluminium Recyclables" alt="Aluminium Recycling">
          <h2 style='text-align:center;'>ALUMINIUM - <i class="fa fa-inr"></i> 80/kg</h2>
          <p>Sources for recycled aluminium include aircraft, automobiles, bicycles, boats, computers, cookware, gutters, siding, wire etc. Sell it with us at the BEST PRICE.</p>
<!--           <p><a class="btn btn-primary" style='text-align:center;' href="#" role="button">Know More &raquo;</a></p>
 -->        </div>
      </div>
</div>      
<div style="clear:both; display:block"></div>
{% endblock %}


