
{% extends "base.html" %}
{% load staticfiles %}


<style>
{% block style %}
.button-align{
  text-align: center;
}



{% endblock %}

</style>

{% block circles %}
<div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-sm-4">
          <div class="pickgradient">
          <img class="img-box" title="Sell all of your Recyclables" alt="Sell Your Old Newspapers" src="https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-644902922622/are-old-newspapers-worth-anything_bc68089f-fecf-41e9-9cab-d0ac1084fe02.jpg" width=100% height="180">
        </div>
          <h2 style='text-align:center;'>PAPER - <i class="fa fa-inr"></i> 12/kg</h2>
          <p>Sell all of the old and recyclable newspapers from your home in just one click. Get the Best Price for something that's waste for you. Download the App now.</p>
<!--           <p><a class="btn btn-primary button-align" href="/knowmore" role="button">Know More &raquo;</a></p>
 -->        </div>
        <div class="col-sm-4 pull-right">
          <img class="img-box" src="https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-644902922622/home-gallery-ferrous.jpg" title="Sell Recyclable Iron to Us!" alt="Iron Recycling" width=100% height="180">
          <h2 style='text-align:center;'>IRON - <i class="fa fa-inr"></i> 11/kg</h2>
          <p>Storing Old Iron may invite Diseases for your family. Sell all of it Today Only!</p>
<!--           <p><a class="btn btn-primary" href="/user_logout/" role="button">Know More &raquo;</a></p>
 -->        </div>
        <div class="col-sm-4 pull-right">
          <img class="img-box" src="https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-644902922622/plastic_metal_glass+recycling.jpg" width=100% height="180" title="Sell Plastic Items" alt="Plastic Recycling">
          <h2 style='text-align:center;'>PLASTIC - <i class="fa fa-inr"></i> 12/kg</h2>
          <p>Wanna Sell Your Recyclables? Do not feel Stressed. </p>
<!--           <p><a class="btn btn-primary" href="#" role="button">Know More &raquo;</a></p>
 -->        </div>
      </div>

      


      <div class="row" style="margin-top:20px">
        <div class="col-sm-4 col-sm-offset-2">
          <img class="img-box" src="https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-644902922622/14561581102_0d18f22699_o.jpg" title="Join Us" alt="Join Us and Make Some Income" width=100% height="180">
          <h2>Join Our Network!</h2>
          <p>Join Us as a Tutor. Teach with Us and make some extra money. Show off your Teaching Skills with Us!</p>
<!--           <p><a class="btn btn-primary" href="#" role="button">Know More &raquo;</a></p>
 -->        </div>

        <div class="col-sm-4 ">
          <img class="img-box" src="https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-644902922622/en-play-badge.png" width=100% height="180" title="Download On Google PLay" alt="Download on Google Play">
          <h2>Get Us on Google Play!</h2>
          <p>Download the App on Google Play Store for an Unmatched and Uninterrupted Experience in Exploring and Booking Your Tutor</p>
<!--           <p><a class="btn btn-primary" style='text-align:center;' href="#" role="button">Know More &raquo;</a></p>
 -->        </div>
      </div>
</div>      
<div style="clear:both; display:block"></div>
{% endblock %}


